* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;

  width: 1746px;
  height: 1728px;


  border: gray solid 5px;
}

.item-level1-turquoise-1 {
  background-color: #f4f9fe;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  padding: 3% 0 3% 0;
  
}

.item-level1-turquoise-2 {
  background-color: #f4f9fe;
}

.item-level1-white-1 {
  background-color: #ffffff;
  padding-top: 1em;
}

.item-level1-white-2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.item-level2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10% 1% 10%;
}

.item-level3 {
  background-color: #f4f9fe;
  margin: 5px;
  flex: 1;
  bottom: 0;
  right: 0;

  display: flex;
}

.item-level4 {
  flex-grow: 1;
}

.img {
  align-self: flex-end;
  flex-grow: 0;
}

.text {
  align-self: baseline;
  flex-grow: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px;
}

th {
  background-color: #2b658c;
  color: #ffffff;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr {
  line-height: 2em;
}
.right {
  text-align: right;
  padding: 0 20px 0 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  padding: 0 0 0 20px;
}
